{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col text-center">

<div class="clear"></div>

<br>

<form action="/admin/delete" method="post">

<div class="col-lg-6">
  <p style="text-align:left;"> Delete records older than: </p>
  <div class="input-group" style="width: 150px;">
    <input type="number" class="form-control" name="_hours" placeholder="hours">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" style="background: #343a40;"><i class="fas fa-trash-alt" style="color:white;border-radius: 0;"></i></button>
    </span>
  </div>
</div>

</form>

</div>
</div>

<div class="clear"></div>

<br>

<div class="clear"></div>

  <table class="table table-striped" id="git-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Query</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody id="ajax-result">
    {% for query in queries %}
    <tr>
    <td> {{ query.date|date('Y-m-d H:i:s') }} </td>
    <td> {{ query.query }} </td>
    <td> {{ query.ip }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="clear"></div>

<br>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% for p in pages %}
    <li class="page-item"><a class="page-link"  href="/admin/{{p.num}}">{{p.num}}</a></li>
    {% endfor %}
  </ul>
</nav>


    </div>



{% endblock %}
