{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="mt-5">GitAgent</h1>
        <br>
        <hr style="width: 20px;border: 1px black solid">
        <br>
        <p> GitAgent is quick online tool for searching & listing git repositories from individual users. </p>
        <p> So far we've reached <b> {{ count }} </b> unique searches! </p>

      </div>
    </div>
  </div>
{% endblock %}
