{% extends 'base.html.twig' %}

{% block body %}

<script type="text/javascript">
$(document).ready(function(){

  $.ajax({
          type: "GET",
          url: "https://api.github.com/users/{{ repo }}/repos",
          dataType: "json",
          success: function(result) {

            if(result.length == 0){
              $("#ajax-result").append(
                  "<tr><td style='text-align:center;color: red;' colspan=2> No results! </td></tr>"
              );
            }

            $("#git-avatar").attr('src', result[0]['owner'].avatar_url);

              for(var i in result ) {
                if(result[i].description == null){
                  $("#ajax-result").append(
                      "<tr><td style='text-align:right;'><a href='" + result[i].html_url + "' target='_blank'>" +
                      result[i].name + "</a></td><td style='text-align:left;color: red;'> No description available. </td></tr>"
                  );
                }else{
                  $("#ajax-result").append(
                      "<tr><td style='text-align:right;'><a href='" + result[i].html_url + "' target='_blank'>" +
                      result[i].name + "</a></td><td style='text-align:left;'>"+result[i].description+"</td></tr>"
                  );
                }
                  console.log("i: " + i);
              }

              $("#ajax-result-count").text(result.length);

              console.log(count(result));


          }
      });

});
</script>
<div class="container">
    <div class="row">
      <div class="col text-center">


        <h1 class="mt-5">{{ repo }} </h1>
        <img id="git-avatar" style="width: 50px; height:50px; border-radius: 50px;" />

<div class="clear"></div>
        <br>
  <p><i class="fas fa-book" alt="Repositories"></i> <a id="ajax-result-count"> 0 </a></p>
  <br>
  <div class="clear"></div>

  <table class="table table-striped" id="git-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="ajax-result">

  </tbody>
</table>


      </div>
    </div>
</div>

{% endblock %}
