body{
  padding-top: 65px;
  font-family: 'Open Sans', sans-serif !important;
}
.navbar-nav{
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}
input:focus{
  outline: none;
}
