<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">GitAgent</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li>
<form action="/search" method="post" id="search">
    <div class="input-group">
      <input type="text" name="name" id="name" class="form-control" style="background: #343a40;width:400px;border: none;color:white;outline: none;border-bottom: 1px solid white;border-radius: 0px;" placeholder="Search for git repositories ...">
      <input type="hidden" name="ip" id="ip"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" style="background: #343a40;border-bottom: 1px solid white;border-radius: 0px;"><i class="fas fa-search" style="color: white;"></i></button>
      </span>
  </div>
</form>

</li>
          </ul>
        </div>
      </div>
    </nav>

<script type="text/javascript">
$(document).ready(function(){
  $.getJSON("http://jsonip.com?callback=?", function (data) {
      $("#ip").val(data.ip);
  });
});
</script>
